@using System.Collections.Generic
@using Microsoft.AspNetCore.Http

@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "";
}

<h2>@ViewData["Title"]</h2>

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TPMC_WebApp | Log in</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/admin-lte/dist/css/adminlte.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/lib/icheck-bootstrap/icheck-bootstrap.css" />
        <link rel="stylesheet" href="~/css/animation.css" />
        <!--SweetAlert2-->
        <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/admin-lte/dist/css/adminlte.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/animation.css" asp-append-version="true" />
        <!--SweetAlert2-->
        <script src="~/lib/sweetalert2/sweetalert2.js"></script>
    </environment>

</head>

<p>
    For more information on how to enable reset password please see this <a href="http://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
</p>

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <h4>Enter your email.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
