@model TIPMC_WebApp_Vesperr.Models.POS.Member

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h1>Edit</h1>

<h4>Member</h4>
<hr />

<div class="row">
    <div class="col-sm-12">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <div class="row justify-content-between w-100">
                    <div class="col-sm-4">
                        @*<h4>Products</h4>*@
                    </div>
                    <div class="col-sm-4 text-right">
                        @* <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="MemberId" />
                            <div class="row">
                                <div class="col">
                                    
                                </div>
                                <div class="col">
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

