@model IEnumerable<TPMC_WebApp_Vesperr.Models.POS.Product>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card card-default">
			<div class="card-header card-header-border-bottom">
				<div class="row justify-content-between w-100">
				<div class="col-sm-4">
					@*<h4>Products</h4>*@
				</div>
				<div class="col-sm-4 text-right">
				  <button class="btn btn-success" id="btnNewProduct">New Product</button>
				</div>
			  </div>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-sm-12">
					
					</div>
				</div>
			</div>
		</div>
    </div>
</div>




