@model TIPMC_WebApp_Vesperr.Models.Online.SmallCartViewModel
@{
    var fullName = $"{User.GetUserProperty(CustomClaimTypes.GivenName)} {User.GetUserProperty(CustomClaimTypes.Surname)}";
}

@if (Model != null)
{
        <p>Items in cart: <span class="badge badge-primary">@Model.NumberOfItems</span></p>
        <p>Total: <b>@Model.TotalAmount.ToString("C2")</b></p>
            <a class="btn btn-primary" asp-controller="Cart" asp-action="Index" asp-route-memberid="@($"{User.GetUserProperty(CustomClaimTypes.GivenName)} {User.GetUserProperty(CustomClaimTypes.Surname)}")" method="post">View Cart</a>
            <a class="btn btn-danger" asp-controller="Cart" asp-action="Clear" asp-route-memberid="@($"{User.GetUserProperty(CustomClaimTypes.GivenName)} {User.GetUserProperty(CustomClaimTypes.Surname)}")" method="post">Clear Cart</a>
            <a class="btn btn-success" asp-controller="ProductOnline" asp-action="CheckOutIndex" asp-route-memberid=@fullName method="post">View Checkout</a>
}
else
{
        <p class="lead m-0">Your cart is empty</p>
}



